@model IEnumerable<ProjetoAppLivraria.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>

<p>
    <a asp-action="CadAutor">Cadastrar Autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeAutor)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeAutor)
            </td>
            <td>
                    @Html.ActionLink("Editar", "EditarAutor", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "ExcluirAutor", new { id = item.Id },
                    new {onclick = "return confirm('Deseja realmente escluir este item?');"})
            </td>
        </tr>
}
    </tbody>
</table>
