@model IEnumerable<ProjetoAppLivraria.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Livro" asp-action="CadLivro">Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefAutor.nomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefAutor.status)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefAutor.nomeAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefAutor.status)
            </td>
            <td>
                @Html.ActionLink("Editar", "editarLivro", new { id = item.codLivro }) |
                    @Html.ActionLink("Excluir", "ExcluirLivro", new { id = item.codLivro },
                new {onclick = "return confirm('Deseja realmente escluir este item?');"})
            </td>
        </tr>
}
    </tbody>
</table>
